@font-face {
  font-family: TheyPerished;
  src: url("../fonts/TheyPerished.ttf");
}
@font-face {
  font-family: Ubuntu-Title;
  src: url("../fonts/Ubuntu-Title.ttf");
}
@font-face {
  font-family: OpenDyslexic-Bold;
  src: url("../fonts/OpenDyslexic-Bold.otf")
}
.content {
  position: absolute;
  left: 12%;
  top: 15%;
  width: 66%;
  height: 66.5%;
}
.logo {
  position: absolute;
  font-family: TheyPerished;
  font-size: 350%;
  top: -17%;
  left: 4%;
  margin: 0%;
  padding: 0%;
  border: 0ch;
  width: 0%;
}
.nav-title {
  position: relative;
  left: 25%;
  font-family: OpenDyslexic-Bold;
  font-size: 200%;
  border: 0ch;
}
.search-form {
  position: relative;
  left: 14.3%;
}
.management-choice {
  position: absolute;
  left: 12%;
  top: 85%;
}
.info {
  position: absolute;
  left: 80%;
  top: 20%;
  width: 18%;
}